<navbar></navbar>

<div class="container">
	<ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in mytask.awesomeThings">
        <li>
        	<a data-toggle="modal" href="#myModal" tooltip="{{thing.info}}" ng-click="showDetails = ! showDetails" ng-show="mytask.isLoggedIn == true && thing.email == mytask.newMail">{{thing.name}}<button type="button" class="close" ng-click="mytask.deleteThing(thing)">&times;</button>
        	</a>
        	<div class="row" ng-show="showDetails">
			  <div class="col-sm-12 col-md-12">
    			<div class="thumbnail">
	            	<h2 class="alert alert-info">Task: {{thing.name}}</h2>
	            	<span class="glyphicon glyphicon-tag" aria-hidden="true"></span><span class="label label-warning" >{{thing.tag}}</span><br>
	            	<hr>
	            	<h2>Task details:</h2><h3>{{thing.info}}</h3>
	            	<h2>Postition:</h2>{{mytask.total}}/{{thing.position}}
	            	<div class="progress">
					  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="({{mytask.total}}/{{thing.position}})*100" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( (mytask.total/thing.position)*100 + '%' ) }">
					    <span class="sr-only">{{mytask.getPercentage()}}% Complete (warning)</span>
					  </div>
					</div>		
	            </div>
	          </div>
	        </div>
        </li>
    </ul>
	<p ng-show="thing.email == 'null'">You haven't post any tasks. Create now task by clicking "Post" in the nav bar</p>
</div>
<footer></footer>