<navbar></navbar>
<div class="container">
	<form class="thing-form">
	    <h1>Post your tasks:</h1>
	    <p class="input-group">
	      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="post.newThing">
	      <span class="input-group-btn">
	        <button type="submit" class="btn btn-primary" ng-click="post.addThing()">Add New</button>
	      </span>
	    </p>
	    <textarea class="form-control" rows="8" placeholder="Please provide more details so that your task will be soon solved." ng-model="post.newThingDetail"></textarea>
	    <b><p>Tags</p></b>
  	</form>
  	<tags-input add-on-paste="true" placeholder="Add a field" ng-model="post.newThingTag" required>
    </tags-input>
    <p>Model: {{post.newThingTag}}</p>
</div>

