<navbar></navbar>
<div class="container">
	<form class="thing-form">
	    <h1>Post your tasks:</h1>
	    <p class="input-group">
	      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="post.newThing">
	      <span class="input-group-btn">
	        <button type="submit" class="btn btn-primary" ng-click="post.addThing()">Add New</button>
	      </span>
	    </p>
	    <textarea class="form-control" rows="8" placeholder="Please provide more details so that your task will be soon solved."></textarea>
	    <b><p>Tags</p></b>
  	</form>
  	<tags-input ng-model="tags" add-on-paste="true" placeholder="Add a field" required>
  		<auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
</div>

