<navbar></navbar>
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">All the workers suit for your task: </h4>
    </div>
    <form class="thing-form">
	    <div class="modal-body">
	    	<ul class="list-group">
	    	<!-- ng-show="select.isSameSpecailTag(user)" -->
			    <li class="list-group-item" ng-repeat="user in select.users" ng-show="user.special == select.thing.tag && !user.isAdmin() && user.name != select.currentUser.name">
				    <div class="checkbox">
					    <label>
					      <input type="checkbox" checklist-model="select.selectedUsers.ids" checklist-value="user._id"> {{user.name}} : ask for ${{user.money}}
					    </label>
					</div>
			    </li>
			</ul>
	    </div>
		{{select.selectedUsers.ids}},
		{{select.checkedUser}}

	    <div class="modal-footer">
	      <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="select.informUser()">Comfirm</button>
	    </div>
	</form>
  </div>
</div>
<footer></footer>