<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello! Allo!</h1>
    <p class="lead">Solve your problems by others</p>
    <div>
      <img src="assets/images/icon.jpg" alt="main icon">
    </div>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/employer.jpeg" alt="employer">
        <div class="caption">
          <h3>As an employer</h3>
          <p>Post your problem and hire people solve it for you.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="assets/images/employee.jpeg" alt="employee">
        <div class="caption">
          <h3>As an employee</h3>
          <p>You can find what you are good at and make some money.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <hr>
      <h1 class="page-header">All the tasks have been posted:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)" ng-show="main.isAdmin()">&times;</button></a></li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
